@using StockBL;
@model IEnumerable<Symbols>

@{
    ViewData["Title"] = "Search symbols";
}
<h1>@ViewData["Title"]</h1>



<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Market Open</th>
            <th>Market Close</th>
            <th>Timezone</th>
            <th>Currency</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Symbol</td>
                <td>@r.Name</td>
                <td>@r.Type</td>
                <td>@r.Region</td>
                <td>@r.MarketOpen</td>
                <td>@r.MarketClose</td>
                <td>@r.Timezone</td>
                <td>@r.Currency</td>
                <td>
                    <a asp-action="AddToWatchList" asp-route-id="@r.Symbol">Add to watchlist</a>
                </td>
            </tr>
        }
    </tbody>
</table>
